.grad {
  background-image: linear-gradient(to bottom right, BlueViolet, LightPink);
}
.colorText{
	color: black;
}
.imgPPostPerfil{
	width: 10%;
}

.scrolling-wrapper{
	overflow-x: auto;
}



.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}

.card-block{
	height: 250px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	&:hover{
		transform: translateY(-5px);
		box-shadow: none;
	}
}
.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgpost {width: 100%}

.contentimg {
  text-align: center;
  padding: 10px 20px;
  text-align: left;
}
.bordesolido{
   border:-color: #aaaaaa;
   border-width: 1px;
   border-style: solid;
}
